<link rel="stylesheet" href="/stylesheets/styleMeeting.css" />
<div id="myModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form action="#" method="POST">
			<label for="description"
				>Adicione um hospital ou consultório válido</label
			>
			<textarea id="selfDescription" name="long-text"></textarea>

			<label for="bigProblem">Adicione uma data válida</label>
			<textarea id="bigProblem" name="long-text"></textarea>

			<label for="hobbie">Adicione um horário válido</label>
			<textarea id="hobbie" name="long-text"></textarea>

			<button type="submit">Adicionar</button>
		</form>
	</div>
</div>
