<link rel="stylesheet" href="/stylesheets/styleMeeting.css" />
<div id="myModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form action="#" method="POST">
			<label for="description">Justifique</label>
			<textarea id="selfDescription" name="long-text"></textarea>

			<button type="submit">Deferir</button>
		</form>
	</div>
</div>
