<nav class="navbar">
	<div class="container">
		<a class="logo" href="#">SAFE MIND</a>
		<svg
			class="logoSvg"
			width="82"
			height="82"
			viewBox="0 0 82 82"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M63.6947 43.7596L63.4121 43.1561C62.1939 40.5526 61.8396 37.7948 61.7334 35.3487C61.6797 34.1159 61.6879 32.8974 61.7009 31.7774C61.7028 31.6235 61.7047 31.4718 61.7065 31.3223C61.7185 30.3557 61.7293 29.4778 61.7101 28.6323C61.6291 25.3014 60.5836 22.0577 58.6898 19.2799C56.5323 16.5984 53.7126 14.4896 50.4888 13.1572L50.4327 13.134L50.3775 13.1089C46.014 11.1212 41.2574 10.0928 36.4418 10.0982L36.4381 10.0982C30.3783 10.0982 24.5793 12.4614 20.3136 16.6482C16.05 20.8329 13.6667 26.4947 13.6667 32.3847C13.6667 35.877 14.6796 39.8602 16.4421 43.5461C18.2088 47.2405 20.6037 50.3767 23.126 52.3204L24.4572 53.3463V68.5768C25.0122 69.264 26.0903 70.1127 27.7075 70.8487C29.6862 71.7495 31.6757 72.1144 32.827 72.0204L32.9659 72.009H33.1051C36.4471 72.009 38.0109 71.0646 38.684 70.4903C38.928 70.282 39.0976 70.0861 39.2114 69.9316V60.4753L43.4769 61.5779L43.479 61.5784L43.4807 61.5789L43.4829 61.5794L43.5037 61.5846C43.5302 61.591 43.5756 61.602 43.639 61.6167C43.7658 61.646 43.9631 61.6898 44.2205 61.7415C44.737 61.8451 45.4885 61.9787 46.3944 62.0906C48.2336 62.3174 50.5798 62.438 52.8454 62.1056C55.1305 61.7706 57.0348 61.0205 58.3445 59.7672C59.5641 58.5999 60.638 56.6451 60.638 53.0639V50.143L63.5102 49.691L63.5126 49.6906L63.5264 49.6882C63.5367 49.6864 63.5512 49.6838 63.5702 49.6802C63.5889 49.6768 63.6118 49.6723 63.6385 49.6672C63.7465 49.6459 63.9139 49.6105 64.1214 49.5589C64.5466 49.4533 65.0899 49.2922 65.6195 49.0688C66.1692 48.837 66.5649 48.5959 66.798 48.3906C66.845 48.3491 66.878 48.3159 66.9007 48.2912C66.8923 48.1996 66.8604 48.0117 66.7412 47.7076C66.5546 47.2322 66.2357 46.6828 65.8274 46.1144C65.4281 45.559 65.0036 45.0686 64.6729 44.7131C64.5101 44.5379 64.3763 44.4023 64.288 44.3148C64.2656 44.2926 64.2461 44.2737 64.2303 44.2581C64.2149 44.2431 64.2026 44.2313 64.1935 44.2228L64.1795 44.2093L64.1776 44.2077L63.6947 43.7596ZM42.628 64.8874C42.628 64.8874 43.9978 65.2414 46.0447 65.4898C52.0932 66.2239 64.0546 66.0356 64.0546 53.0639C64.0546 53.0639 69.6969 52.1761 70.2684 48.9514C70.8396 45.7269 66.5068 41.7079 66.5068 41.7079C65.0333 38.5593 65.0795 34.8515 65.1229 31.3708C65.1348 30.4085 65.1466 29.4634 65.1259 28.5526C65.0284 24.513 63.7473 20.5868 61.4358 17.2432C58.9045 14.0603 55.5852 11.5666 51.7938 9.99957C46.9829 7.80808 41.7419 6.67563 36.4381 6.68154C29.4925 6.68154 22.8315 9.38954 17.9202 14.2098C13.0091 19.0301 10.25 25.5678 10.25 32.3847C10.25 40.5862 14.9458 50.3301 21.0405 55.0268V69.5374C22.7699 73.1645 29.2936 75.7369 33.1051 75.4256C41.1995 75.4256 42.628 70.7523 42.628 70.7523V64.8874Z"
				fill="#9B9B9B"
			/>
			<path
				d="M45.6516 34.4156C46.9722 34.4156 46.5535 34.0279 47.6441 33.3034C48.7514 34.0266 50.0581 34.4057 51.3914 34.3906L55.6271 32.8907C56.8207 31.9332 57.64 30.6056 57.948 29.1307C58.2562 27.6555 58.0343 26.1221 57.3195 24.7872C56.6048 23.4522 55.4404 22.3968 54.0216 21.7973C53.6977 20.3691 52.8816 19.0916 51.7089 18.177L47.5744 16.7689H47.1088C46.1891 15.4631 44.8086 14.5316 43.2292 14.1516L36.0732 13.6667C34.5997 13.7858 33.2103 14.3839 32.1286 15.3646C31.6175 15.2474 31.0944 15.1866 30.5691 15.1834C29.2976 15.186 28.0539 15.5466 26.9884 16.2218C25.9228 16.8971 25.0809 17.8581 24.5641 18.9886L21.196 21.3104C20.358 22.4155 19.9069 23.7533 19.9091 25.1268C19.9007 25.701 19.9791 26.2735 20.1418 26.8256C19.258 27.9413 18.783 29.3126 18.7918 30.7213C18.7896 32.3551 19.4311 33.9277 20.5841 35.1155C20.677 36.2852 21.0971 37.4079 21.7985 38.362C22.5001 39.3161 23.4564 40.0654 24.5641 40.5288C25.8404 41.3073 26.9211 42.3545 27.7266 43.5932C28.5322 44.8318 28.8647 46.2304 29.0417 47.6861H36.0732V40.8912C36.0716 39.6847 36.4176 38.5019 37.0717 37.4771C37.7258 36.4521 38.0922 35.6261 39.2044 35.0927C40.2463 34.7048 41.1852 34.093 41.9509 33.3034C43.0415 34.0279 44.3313 34.4156 45.6516 34.4156Z"
				fill="#9B9B9B"
			/>
			<path
				d="M58.0833 40.1458C58.0833 41.561 56.936 42.7083 55.5208 42.7083C54.1057 42.7083 52.9583 41.561 52.9583 40.1458C52.9583 38.7306 54.1057 37.5833 55.5208 37.5833C56.936 37.5833 58.0833 38.7306 58.0833 40.1458Z"
				fill="#9B9B9B"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M35.875 54.6667H29.0417V51.25H35.875V54.6667Z"
				fill="#9B9B9B"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M35.875 61.5H29.0417V58.0833H35.875V61.5Z"
				fill="#9B9B9B"
			/>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M35.875 68.3333H29.0417V64.9167H35.875V68.3333Z"
				fill="#9B9B9B"
			/>
		</svg>

		<ul class="navList">
			<li><a href="/singup">Setembro Amarelo</a></li>
			<li><a href="/singup">Sua agenda</a></li>
			<li><a href="/singup">Profissionais</a></li>
			<li><a href="/singup">Início</a></li>
		</ul>
		<a class="btnPerfil" href="/singup">Login</a>
	</div>
</nav>
