<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Safe Mind</title>
	<link rel="stylesheet" href="/stylesheets/styleHome.css" />
</head>

<body>
	<%- include('../partials/navBar.ejs') %>

		<div class="banner">
			<h3>Informações sobre saúde mental</h3>
		</div>
		<div class="container">
			<div class="contentGrid">
				<div class="card">
					<h5>Dica!</h5>
					<p>
						Exercícios são ótimos para fortalecer o corpo e também a mente.
						Estudos comprovam que mesmo atividades simples, como 30 minutos de
						caminhada todos os dias, ajudam a produzir serotonina, fortalecer a
						imunidade e melhorar a saúde como um todo.
						<hr>
						Manter a ingestão de nutrientes em dia também contribui para ter mais disposição e colocar em
						prática atividades para cuidar da saúde mental. Uma dieta nutritiva e balanceada estimula os
						níveis de energia e disposição a se manterem elevados ao longo do dia.
						Também é relevante se manter bem hidratado e limitar a ingestão de cafeína, considerando que ela
						bloqueia a melatonina e pode prejudicar o sono.
					</p>
				</div>
				<div class="imageSection">
					<a>
						<img src="images/img1.jpg" alt="Imagem mental health" />
					</a>
				</div>
				<div class="card">
					<h5>Artigo</h5>
					<p>
						A saúde mental não se limita apenas ao que sentimos individualmente.
						Ela é uma rede de fatores relacionados. De acordo com a Organização
						Mundial de Saúde (OMS), a Saúde Mental pode ser considerada um
						estado de bem-estar vivido pelo indivíduo, que possibilita o
						desenvolvimento de suas habilidades pessoais para responder aos
						desafios da vida e contribuir com a comunidade. O bem-estar de uma
						pessoa não depende apenas do aspecto psicológico e emocional, mas
						também de condições fundamentais, como saúde física, apoio social,
						condições de vida. Além dos aspectos individuais, a saúde mental é
						também determinada pelos aspectos sociais, ambientais e econômicos.
						<a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/s/saude-mental">Ler Mais</a>
					</p>
				</div>
				<div class="imageSection">
					<img src="/images/img2.jpg" alt="Imagem mental health" />
				</div>
				<div class="card">
					<h5>Dicas!</h5>
					<p>
						Ah, quem diria? Você conseguiu o que muitos tentam em vão: o
						isolamento total. Sim, esse sonho de consumo onde ninguém te
						incomoda, ninguém te chama e, o mais importante, ninguém espera nada
						de você. Sério, poucos alcançam esse nível de autossuficiência
						social. Deveria até ter um troféu para quem chega lá!
					</p>
				</div>

				<div class="imageSection">
					<img src="/images/img3.jpg" alt="Imagem mental health" />
				</div>
			</div>
		</div>
</body>

</html>