<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Safe Mind</title>
		<link rel="stylesheet" href="/stylesheets/styleSetember.css" />
	</head>

	<body>
		<%- include('../partials/navBar.ejs') %>

		<div class="banner">
			<h3>Informações Sobre Setembro Amarelo</h3>
		</div>
		<div class="container">
			<div class="contentGrid">
				<div class="card">
					<h5>Se precisar, peça ajuda!</h5>
					<p>
						Todos nós devemos atuar ativamente na conscientização da importância
						que a vida tem e ajudar na prevenção do suicídio, tema que ainda é
						visto como tabu. É importante falar sobre o assunto para que as
						pessoas que estejam passando por momentos difíceis e de crise
						busquem ajuda e entendam que a vida sempre vai ser a melhor escolha.
						Quando uma pessoa decide terminar com a sua vida, os seus
						pensamentos, sentimentos e ações apresentam-se muito restritivos, ou
						seja, ela pensa constantemente sobre o suicídio e é incapaz de
						perceber outras maneiras de enfrentar ou de sair do problema. Essas
						pessoas pensam rigidamente pela distorção que o sofrimento emocional
						impõe.
						<a href="https://www.setembroamarelo.com/">Ler Mais</a>
					</p>
				</div>
				<div class="card">
					<h5>Dados sobre suicídio</h5>
					<p>
						O suicídio é um importante problema de saúde pública, com impactos
						na sociedade como um todo. Segundo dados da Organização Mundial de
						Saúde - OMS, todos os anos, mais pessoas morrem como resultado de
						suicídio do que HIV, malária ou câncer de mama - ou guerras e
						homicídios. Entre os jovens de 15 a 29 anos, o suicídio foi a quarta
						causa e morte depois de acidentes no trânsito, tuberculose e
						violência interpessoal. Trata-se de um fenômeno complexo, que pode
						afetar indivíduos de diferentes origens, sexos, culturas, classes
						sociais e idades.
					</p>
				</div>
				<div class="imageSection">
					<a href="">
						<img src="images/simg.jpg" alt="Imagem mental health" />
					</a>
				</div>

				<div class="imageSection">
					<img src="/images/simg2.jpg" alt="Imagem mental health" />
				</div>
				<div class="imageSection">
					<img src="/images/simg3.jpg" alt="Imagem mental health" />
				</div>
				<div class="card">
					<h5>Artigo</h5>
					<p>
						O suicídio é um problema de saúde pública que tem resultado em um
						aumento de mortes no mundo todo. Os familiares enlutados são citados
						na literatura como sobreviventes, sendo estimado que entre 5 e 10
						pessoas são gravemente afetadas por cada morte consequente do ato de
						suicídio. No entanto, o termo foi ampliado para os contatos que os
						indivíduos fizeram ao longo de sua vida, incluindo colegas, amigos e
						profissionais, aumentando, consequentemente, essa estimativa. As
						pessoas impactadas apresentam diferentes sintomas e formas de
						manejar o sofrimento. Essas estratégias para auxiliar na resolução
						do processo de luto, incluindo o desencorajamento de planejamentos
						ou ideações suicidas, além da orientação a profissionais e
						familiares sobre questões éticas e burocráticas, são designadas de
						posvenção.
						<a
							href="https://pepsic.bvsalud.org/scielo.php?script=sci_arttext&pid=S1808-56872019000200002"
							>Ler Mais</a
						>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
